<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <p th:text=" 'Title : '  + ${patient.title}"/>
  <p th:text=" 'First Name : '  + ${patient.newPatientName}"/>
  <p th:text="'Last Name : '+${patient.lastName}"/>
  <p th:text="'Date : '+${patient.date}"/>
  <p th:text=" 'Year : '  + ${patient.year}"/>
  <p th:text="'Month : ' +${patient.month}"/>
  <p th:text=" 'Day : '  + ${patient.days}"/>
  <p th:text=" 'Parent Name:'  +${patient.parentName}"/>
  <p th:text=" 'Gender : '  + ${patient.gender}"/>
  <p th:text=" 'Religion : '  + ${patient.religion}"/>
  <p th:text=" 'Martial Status : '  + ${patient.martialStatus}"/>
  <p th:text=" 'Country : '  + ${patient.country}"/>
  <p th:text=" 'Blood Group : '  + ${patient.bloodGroup}"/>
  <p th:text=" 'Occupation : '  + ${patient.occupation}"/>
  <p th:text=" 'State : '  + ${patient.state}"/>
  <p th:text=" 'Village : '  + ${patient.village}"/>
  <p th:text=" 'District : '  + ${patient.district}"/>
  <p th:text=" 'Address : '  + ${patient.address}"/>
  <p th:text=" 'City : '  + ${patient.city}"/>
  <p th:text=" 'IdProof : '  + ${patient.idProof}"/>
  <p th:text=" 'ID Number : '  + ${patient.idNumber}"/>
  <p th:text=" 'Health Issue : '  + ${patient.health}"/>
  <p th:text=" 'Referral Type : '  + ${patient.referralType}"/>
  <p th:text=" 'Organization : '  + ${patient.organization}"/>
  <p th:text=" 'Tariff : '  + ${patient.tariff}"/>
  <p th:text=" 'Location : '  + ${patient.location}"/>
  <p th:text=" 'Select Date : '  + ${patient.selectDate}"/>
  <p th:text=" 'Consultant : '  + ${patient.consultant}"/>
  <p th:text=" 'Token : '  + ${patient.token}"/>
  <p th:text=" 'Docter Code : '  + ${patient.code}"/>
  <p th:text=" 'Specilization : '  + ${patient.specilization}"/>
  <p th:text=" 'Contact Number : '  + ${patient.contactNumber}"/>
  <p th:text=" 'Registration Number : '  + ${patient.registrationNumber}"/>
  
  
  

 
</body>
</html>